<!DOCTYPE html>
<html lang="en">
<head>
    <html>
  <head> 
     <meta charset ="utf-8" />
    <title> Fitness Club</title>
   </head>
<body>
    <div class="header">
        <div class="nav-menu">
            <div class="fitness">  <div class="logo">Fitness<span style="color:yellow" ><span style="font-size:60px">365</span></span></div></div>
            <div class="menu">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/home">Login</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact" class="active">Contact us</a></li>
                </ul>
            </div>
        </div>
        <h1 class="title"><span style="color:yellow" >CONTACT US</span></h1>
    </div>
       
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    
    <script src="https://kit.fontawesome.com/a4a80a4593.js" crossorigin="anonymous"></script>
    <style>
        *{
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }
        .title{
            position: absolute;
    top: 40%;
    left: 33%;
    font-size: 5.5rem;
        }
        .section{
            width: 100%;
            min-height: 100vh;
            background-color: #ddd;
        }
        .container{
            width: 80%;
            display: block;
            margin: auto;
            padding-top: 100px;
        }
        .content-section{
            float:left;
            width: 55%;

        }
        .image-section{
            float: right;
            width: 40%;
        }
        .image-section img{
            height: auto;
            width: 100%;
        }
        .content-section .title{
            text-transform: uppercase;
            font-size: 28px;
        }
        .content-section .content h3{
            margin-top: 20px;
            color: #5d5d5d;
            font-size: 21px;
        }
        .content-section .content p{
            margin-top: 10px;
            font-family: sans-serif;
            font-size: 18px;
            line-height: 1.5;
        }
        .content-section .content .button{
            margin-top: 30px;
        }
        .content-section .content .button a{
            background-color:  #3d3d3d;
            padding: 12px 40px;
            text-decoration: none;
            color: #fff;
            font-size: 25px;
            letter-spacing:1.5px;
        }
        .content-section .content .button a:hover{
            background-color: #a52a2a;
            color: #fff;
        }
        .content-section .social {
            margin-top: 40px;
        }
        .content-section .social i{
            color: #a52a2a;
            font-size: 30px;
            padding: 0px 10px;
        }
        .content-section .social i:hover{
            color: #3d3d3d;
        }
        @media screen and (max-width:768px){
            .container{
                width: 80%;
                display: block;
                margin: auto;
                padding-top: 50px;
            }
            .content-section{
                float:none;
                width: 100%;
                display: block;
                margin: auto;
            }
            .image-section{
                float:none;
                width: 100%;
                display: block;
                margin: auto;
            }
        }
        * {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body {
    width:100%;
    height:100vh;
}
.header {
    border:1px solid black;
    height:750px;
  background-position:center;
  background-size:cover;
    background-image: url("victor-freitas-WvDYdXDzkhs-unsplash.jpg");
    color: rgba(255,255,255,1);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav-menu {
    width:95%;
    height: 50px;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items:center;
    margin-top:2%;
}
.nav-menu .logo {
    font-size: 45px;
    font-weight:600;
    padding-left: 20px;
}
.nav-menu .logotwo {
    font-size: 45px;
    font-weight:600;
    padding-left: -10px;
    padding-right:800px;
    color:yellow;
}

.nav-menu .menu ul {
    list-style:none;
    display:flex;
    height:100%;
   
}
.nav-menu .menu ul li a {
    text-decoration:none;
    color: rgba(255,255,255,1);
    padding: 1em 1.5em;
    line-height: 1px;
    font-size:15px;
    text-transform: uppercase;
    
}
.nav-menu .menu li a:hover,
.nav-menu .menu li a.active {
    border:2px solid white;
    border-radius: 5px;
}
    </style>
</head>
<body>
    <div class="section">
        <div class="container">
            <div class="content-section">
                
                <div class="content">
                  <h3>Contact Us</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incon ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.""Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enp"</p>
                </div>
                <div class="social">
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>


</body>
</html>