
 <link rel="stylesheet" type="text/css" href="contactcss123.css" >
<div class="header">
  <div class="nav-menu">
      <div class="logo">Fitness<span style="color:yellow" ><span style="font-size:60px">365</span></span></div>
      <div class="menu">
          <ul>
              <li><a href="/" >Home</a></li>
              <li><a href="/home"class="active">Login</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/contact">Contact us</a></li>
          </ul>
      </div>
  </div>
<div class="card phani text-center" style="width: 21rem;height: 10rem;">
        <div class="card-body">
         <h1>Join Us Today!</h1>
         <div class="d-flex justify-content-around">
          <a href="/users/register" class="btn btn-primary btn-block mb-2" >Register</a>
        <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
         </div>
         </div>
       </div>